<form action="/cocktails" method="get">
  <input type="text" name="query" placeholder="Find your favorite cocktail?">
  <input type="submit">
</form>


<div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <h2> <%= cocktail.name %> </h2>
      <p><%= link_to 'See details', cocktail %> </p>
    </div>
  <% end %>
</div>
