<p> Add a new ingredient to the recipe </p>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, collection: Ingredient.all %>
  <%= f.submit "Add a new ingredient" %>
<%  end %>
